<!--
 * @Description: 模板文件
 * @Author: zhaiyba@yonyou.com
 * @Date: 2019-08-07 14:35:58
 * @LastEditTime: 2019-08-13 21:21:42
 * @LastEditors: Please set LastEditors
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <link rel="stylesheet" href="./static/styles/normalize.css">
</head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>
    <script src="./static/SDK/esn.min.js?<%= htmlWebpackPlugin.options.timestamp %>"></script>
</body>
</html>